<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改商品类型</title>
</head>
<body>
<form action="goodsTypeUpdate" method="post">
    <input type="hidden" name="id" th:value="${goodsType.id}" />
    <input type="hidden" name="pid" th:value="${goodsType.pid}" />
    父类id：<span th:text="${goodsType.pid}"></span><br/>
    等级：<span th:text="${goodsType.level}"></span><br/>
    产品类别名称：<input name="typename" th:value="${goodsType.typename}" /><br/>
    产品类别描述：<input name="typedesc" th:value="${goodsType.typedesc}" /><br/>
    <input type="submit" value="提交"/><br/>
</form>
</body>
</html>